services:
  postgres:
    image: postgres:13
    environment:
      POSTGRES_USER: airflow
      POSTGRES_PASSWORD: airflow
      POSTGRES_DB: airflow
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U airflow"]
      interval: 10s
      retries: 5

  airflow-init:
    build: {context: .., dockerfile: docker/Dockerfile}
    user: "0:0"
    depends_on: {postgres: {condition: service_healthy}}
    env_file: [../.env]
    environment:
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres/airflow
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__CORE__LOAD_EXAMPLES: "false"
      GOOGLE_APPLICATION_CREDENTIALS: /opt/airflow/keys/credentials.json
      PYTHONPATH: /opt/airflow
    volumes:
      - ../dags:/opt/airflow/dags
      - ../src:/opt/airflow/src
      - ../keys:/opt/airflow/keys
      - ../logs:/opt/airflow/logs
      - ../tmp_ingest:/opt/airflow/tmp_ingest
    command: bash -c "airflow db migrate && airflow users create --username airflow --password airflow --firstname Admin --lastname User --role Admin --email admin@example.com || true"

  airflow-webserver:
    build: {context: .., dockerfile: docker/Dockerfile}
    user: "0:0"
    depends_on: {airflow-init: {condition: service_completed_successfully}}
    env_file: [../.env]
    environment:
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres/airflow
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__CORE__LOAD_EXAMPLES: "false"
      GOOGLE_APPLICATION_CREDENTIALS: /opt/airflow/keys/credentials.json
      PYTHONPATH: /opt/airflow
    volumes:
      - ../dags:/opt/airflow/dags
      - ../src:/opt/airflow/src
      - ../keys:/opt/airflow/keys
      - ../logs:/opt/airflow/logs
      - ../tmp_ingest:/opt/airflow/tmp_ingest
    ports: ["8080:8080"]
    command: webserver
    restart: unless-stopped

  airflow-scheduler:
    build: {context: .., dockerfile: docker/Dockerfile}
    user: "0:0"
    depends_on: {airflow-init: {condition: service_completed_successfully}}
    env_file: [../.env]
    environment:
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres/airflow
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__CORE__LOAD_EXAMPLES: "false"
      GOOGLE_APPLICATION_CREDENTIALS: /opt/airflow/keys/credentials.json
      PYTHONPATH: /opt/airflow
    volumes:
      - ../dags:/opt/airflow/dags
      - ../src:/opt/airflow/src
      - ../keys:/opt/airflow/keys
      - ../logs:/opt/airflow/logs
      - ../tmp_ingest:/opt/airflow/tmp_ingest
    command: scheduler
    restart: unless-stopped

  spark-master:
    image: apache/spark:3.5.0
    container_name: spark-master
    command: >
      /opt/spark/bin/spark-class
      org.apache.spark.deploy.master.Master
    ports:
      - "7077:7077"
      - "8081:8080"

  spark-worker:
    image: apache/spark:3.5.0
    container_name: spark-worker
    command: >
      /opt/spark/bin/spark-class
      org.apache.spark.deploy.worker.Worker
      spark://spark-master:7077
    depends_on:
      - spark-master



volumes:
  postgres_data:
